# Web
flask
streamlit

# Data Science
numpy==1.26.3
pandas

# Data Visualization
cufflinks
matplotlib
seaborn

# Machine Learning
scikit-learn
tensorflow
category_encoders

# Other
ipykernel
pylint
```